.App {
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 426px) {
  .weather-container {
    width: 425px;
    height: 700px;
  }
}

.weather-container .current-day-weather {
  padding: 0 20px;
  text-align: left;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("assets/images/clear/24fa5fb54ca2c725df93d72a9ffe6426.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .weather-container .current-day-weather {
    height: 100%;
    border-radius: 12px;
  }
}

.weather-container .current-day-weather .container {
  margin-top: 50px;
  position: relative;
}

.weather-container .current-day-weather .container .day-time {
  text-align: center;
}

.weather-container .current-day-weather .container .day-time .time {
  font-size: 20px;
}

.weather-container .current-day-weather .container .top {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
}

.weather-container .current-day-weather .container .top span, .weather-container .current-day-weather .container .top h4 {
  margin: 20px;
}

.weather-container .current-day-weather .container .main .temperature {
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 80px;
}

.weather-container .current-day-weather .container .main p {
  line-height: 10px;
  font-size: 18px;
}

.weather-container .current-day-weather .container .bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  border: 1px solid white;
  border-radius: 10px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .weather-container .current-day-weather .container .bottom {
    width: 380px;
    margin-bottom: 130px;
  }
}

.weather-container .current-day-weather .container .bottom .divide {
  border-left: 2px solid white;
  height: 60px;
  margin-top: 10px;
}
